<form method="post" action="{{ function('admin_url', 'admin-post.php') }}" class="ccf-form">
  <ol class="ccf-form-items">
    {% for field in optionalFields %}
      {% set id = function('uniqid') %}
      <li class="ccf-form-item ccf-single-line-form-item">
        <label class="ccf-form-label" for="{{ id }}">Your {{ field | capitalize }}:</label>
        <input class="ccf-form-input" id="{{ id }}" name="{{ field }}"
          {% if field == 'email' %}
            type="email"
            {% if submissionHandler == 'email' %}
              aria-required="true" required
            {% endif %}
          {% else %}
            type="text"
          {% endif %}
        >
      </li>
    {% endfor %}

    <li class="ccf-form-item ccf-single-line-form-item">
      <label class="ccf-form-label" for="subject">Your Subject:</label>
      <input type="text" id="subject" name="subject" class="ccf-form-input" aria-required="true" required>
    </li>

    <li class="ccf-form-item ccf-multi-line-form-item">
      <label class="ccf-form-label" for="message">Your message:</label>
      <textarea class="ccf-form-textarea" id="message" name="message" rows="7" cols="35" aria-required="true" required></textarea>
    </li>
  </ol>

  <aside class="screen-reader-text">
    <p>With apologies, if you're hearing about this field, please leave it
      blank.  It's hidden visually, but if we hide it too well, it won't trap
      spam bots.  We're sorry it thinks you might be one.  If you don't leave
      the field blank, your submission will be rejected.</p>

    <label for="honeypot">Leave this field blank</label>
    <input type="text" id="honeypot" name="first" autocomplete="off" value="">
  </aside>

  <input type="hidden" name="action" value="{{ action }}">
  {{ function('wp_nonce_field', action, nonceName, true, false) }}
  <input type="submit" value="Send Message" class="ccf-form-submit">
</form>
